/* You can add global styles to this file, and also import other style files */

img{
    width: 48px;
    height:48px ;
}

hr{
    margin-bottom: 45px;
    border: 1px #f0f0f0 solid;
}

.card-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.card{
    display: flex;
    justify-content: left;
    font-size:0.9em ;
    color: grey;
    font-weight: 300;
}

#position{
    font-size: 1em;
    color: black;
    /* font-weight: 600; */
}

.card > ul{
    margin: 0 10px;
    padding: 0;
    text-align: space-around;
}

.card > ul > p{
    margin: 4px;
}

.card-location{
    display: flex;
    /* justify-content: space-around; */
    width: 10vw;
    align-items: center;
    font-size:0.9em ;
}

.card-location p {
    margin: 6px;
    color:grey;
    font-size: 14px;
}
@media only screen and (max-width: 1000px) {
    .card-wrapper {
        flex-direction: column;
    }
  }
